<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-header-pad">Employee List</h3>
	</div>
	<div class="panel-body">

		<div class="table-responsive">
			<table id="employee_table" class="table table-bordered">
				<thead class="thead-inverse">
					<tr>
						<th width="10%">Employee ID</th>
						<th>Name and Email</th>
						<th>Phone</th>
						<th>Manager Name</th>
						<th width="17%" class="text-center">Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1234</td>
						<td>Mark Zukarburg<br />mark@example.com</td>
						<td>1234567890</td>
						<td>Tim john</td>
						<td class="text-center"><a href="/employees/new" class="btn btn-warning"><i class="fa fa-pencil" aria-hidden="true"></i></a>
						<button class="btn btn-danger" data-toggle="modal" data-target="#changeLeadPopUp">Change Lead</button></td>
					</tr>
					<tr>
						<td>1234</td>
						<td>Mark Zukarburg<br />matt@example.com</td>
						<td>1234567890</td>
						<td>Matt Dewey</td>
						<td class="text-center"><a href="/employees/new" class="btn btn-warning"><i class="fa fa-pencil" aria-hidden="true"></i></a>
						<button class="btn btn-danger" data-toggle="modal" data-target="#changeLeadPopUp">Change Lead</button></td>
					</tr>
					<tr>
						<td>1234</td>
						<td>Mark Zukarburg<br />steve@example.com</td>
						<td>1234567890</td>
						<td>Steve Cho</td>
						<td class="text-center"><a href="/employees/new" class="btn btn-warning"><i class="fa fa-pencil" aria-hidden="true"></i></a>
						<button class="btn btn-danger" data-toggle="modal" data-target="#changeLeadPopUp">Change Lead</button></td>
					</tr>
					<tr>
						<td>1234</td>
						<td>Mark Zukarburg<br />mark@example.com</td>
						<td>1234567890</td>
						<td>Tim john</td>
						<td class="text-center"><a href="/employees/new" class="btn btn-warning"><i class="fa fa-pencil" aria-hidden="true"></i></a>
						<button class="btn btn-danger" data-toggle="modal" data-target="#changeLeadPopUp">Change Lead</button></td>
					</tr>
					<tr>
						<td>1234</td>
						<td>Mark Zukarburg<br />matt@example.com</td>
						<td>1234567890</td>
						<td>Matt Dewey</td>
						<td class="text-center"><a href="/employees/new" class="btn btn-warning"><i class="fa fa-pencil" aria-hidden="true"></i></a>
						<button class="btn btn-danger" data-toggle="modal" data-target="#changeLeadPopUp">Change Lead</button></td>
					</tr>
					<tr>
						<td>1234</td>
						<td>Mark Zukarburg<br />steve@example.com</td>
						<td>1234567890</td>
						<td>Steve Cho</td>
						<td class="text-center"><a href="/employees/new" class="btn btn-warning"><i class="fa fa-pencil" aria-hidden="true"></i></a>
						<button class="btn btn-danger" data-toggle="modal" data-target="#changeLeadPopUp">Change Lead</button></td>
					</tr>
					<tr>
						<td>1234</td>
						<td>Mark Zukarburg<br />mark@example.com</td>
						<td>1234567890</td>
						<td>Tim john</td>
						<td class="text-center"><a href="/employees/new" class="btn btn-warning"><i class="fa fa-pencil" aria-hidden="true"></i></a>
						<button class="btn btn-danger" data-toggle="modal" data-target="#changeLeadPopUp">Change Lead</button></td>
					</tr>
					<tr>
						<td>1234</td>
						<td>Mark Zukarburg<br />matt@example.com</td>
						<td>1234567890</td>
						<td>Matt Dewey</td>
						<td class="text-center"><a href="/employees/new" class="btn btn-warning"><i class="fa fa-pencil" aria-hidden="true"></i></a>
						<button class="btn btn-danger" data-toggle="modal" data-target="#changeLeadPopUp">Change Lead</button></td>
					</tr>
				</tbody>
			</table>
		</div>

	</div>
</div>

<div id="changeLeadPopUp" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
	<form action="post" method="" id="leave_form">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridSystemModalLabel">Change Lead</h4>
      </div>
      <div class="modal-body">

      	<div class="row">
      		<div class="col-sm-12">
      			<div class="form-group row">
      				<label class="col-sm-3 col-form-label">Current Lead:</label>
      				<div class="col-sm-6">
      					<div class="input-group">
      						<span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
      						<select name="current_lead" class="form-control selectpicker" required="required">
      							<option value="">Please select current lead</option>
      							<option>Alabama</option>
      							<option>Alaska</option>
      							<option >Arizona</option>
      							<option >Arkansas</option>
      							<option >California</option>
      							<option >Colorado</option>
      							<option >Wyoming</option>
      						</select>
      					</div>
      				</div>
      			</div>
      		</div>
    			<div class="col-sm-12">
    				<div class="form-group row">
    					<label class="col-sm-3 col-form-label">New Lead:</label>
    					<div class="col-sm-6">
    						<div class="input-group">
    							<span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
    							<select name="new_lead" class="form-control selectpicker" required="required">
    								<option value="">Please select New lead</option>
    								<option>Alabama</option>
    								<option>Alaska</option>
    								<option >Arizona</option>
    								<option >Arkansas</option>
    								<option >California</option>
    								<option >Colorado</option>
    								<option >Wyoming</option>
    							</select>
    						</div>
    					</div>
    				</div>
    			</div>
      	</div>

        <div class="row">
					<div class="col-sm-12">
        		<div class="form-group row">
        			<label class="col-sm-3 col-form-label">Your Raiting:</label>
        			<div class="col-sm-6">
								<input type="number" name="change_lead_rating" data-clearable="remove" class="rating" required="required" />
	        		</div>
        		</div>
        	</div>
	      </div>

				<div class="row">
      		<div class="col-sm-12">
      			<div class="form-group">
      				<label class="">Note and Reasons: </label>
      				<div class="input-group">
      					<span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
      					<textarea class="form-control" name="comment" placeholder="Note and Reasons..." required="required"></textarea>
      				</div>
      			</div>
      		</div>
        </div>

      </div>
      <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Apply</button>
      </div>
    </div>
  </div>
	</form>
</div>

<script src="/assets/employee.js"></script>