<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-header-pad">Employee List</h3>
	</div>
	<div class="panel-body">

		<div class="table-responsive">
			<table class="table table-bordered">
				<thead class="thead-inverse">
					<tr>
						<th width="10%">Employee ID</th>
						<th>Name and Email</th>
						<th>Phone</th>
						<th>Manager Name</th>
						<th>DOB</th>
						<th width="13%">Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1234</td>
						<td>Mark Zukarburg<br />mark@example.com</td>
						<td>1234567890</td>
						<td>Tim john</td>
						<td>12-1-1983</td>
						<td><button class="btn btn-warning">Edit</button>
						<button class="btn btn-danger">Delete</button></td>
					</tr>
					<tr>
						<td>1234</td>
						<td>Mark Zukarburg<br />matt@example.com</td>
						<td>1234567890</td>
						<td>Matt Dewey</td>
						<td>12-1-1983</td>
						<td><button class="btn btn-warning">Edit</button>
						<button class="btn btn-danger">Delete</button></td>
					</tr>
					<tr>
						<td>1234</td>
						<td>Mark Zukarburg<br />steve@example.com</td>
						<td>1234567890</td>
						<td>Steve Cho</td>
						<td>12-1-1983</td>
						<td><button class="btn btn-warning">Edit</button>
						<button class="btn btn-danger">Delete</button></td>
					</tr>
				</tbody>
			</table>
		</div>

	</div>
</div>